data/flows.json
{"id":"c8f62a34.65f488","type":"tab","label":"DTC Dash","disabled":false,"info":"# DTC Vehicle Dashboard - 4 Intersection\nDisplay lamp status for each intersection and all current countdown value"},{"id":"83a5b7d2.949048","type":"mqtt-broker","name":"local mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"test/status","birthQos":"0","birthRetain":"true","birthPayload":"TRUE","closeTopic":"test/status","closeQos":"0","closeRetain":"true","closePayload":"FALSE","willTopic":"test/status","willQos":"0","willRetain":"true","willPayload":"ERROR"},{"id":"58653eae.5754","type":"mqtt-broker","name":"IoT Local Server","broker":"124.158.146.43","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f4e6b532.e1f718","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"97709192.dc5f3","type":"ui_tab","name":"Intersection Status","icon":"dashboard","disabled":false,"hidden":false},{"id":"68d565dd.8423bc","type":"ui_group","name":"Corner 1","tab":"97709192.dc5f3","order":1,"disp":true,"width":"3","collapse":false},{"id":"37f16217.14ba6e","type":"ui_group","name":"Corner 2","tab":"97709192.dc5f3","order":2,"disp":true,"width":"3","collapse":false},{"id":"f67cffde.e66f9","type":"ui_group","name":"Corner 3","tab":"97709192.dc5f3","order":3,"disp":true,"width":"3","collapse":false},{"id":"a0ba1c0f.d8bc9","type":"ui_group","name":"Corner 4","tab":"97709192.dc5f3","order":4,"disp":true,"width":"3","collapse":false},{"id":"1ea34d06.1438c3","type":"ui_group","name":"Default","tab":"5e2e41aa.9826b","order":1,"disp":true,"width":"6","collapse":true},{"id":"5e2e41aa.9826b","type":"ui_tab","name":"Home","icon":"dashboard"},{"id":"a446e4fa.b28688","type":"ui_group","name":"Mode Button","tab":"97709192.dc5f3","order":5,"disp":false,"width":"4","collapse":false},{"id":"768ad223.3ff1cc","type":"mqtt in","z":"c8f62a34.65f488","name":"switch","topic":"dtc1","qos":"0","datatype":"auto","broker":"58653eae.5754","x":210,"y":220,"wires":[["db21c17a.7678c"]]},{"id":"db21c17a.7678c","type":"json","z":"c8f62a34.65f488","name":"","property":"payload","action":"","pretty":false,"x":350,"y":220,"wires":[["b3f16c87.cfba6","5b0ec2ec.f19c8c","67b54eec.bf835","9e047d87.70cc2","16752d8c.ab3d02","e209c9f9.5946a8"]]},{"id":"b3f16c87.cfba6","type":"debug","z":"c8f62a34.65f488","name":"JSON All Data","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":620,"y":140,"wires":[]},{"id":"5b0ec2ec.f19c8c","type":"function","z":"c8f62a34.65f488","name":"Corner1","func":"data = msg.payload.corner[0]\n\nnewMsg = { payload: data}\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":360,"wires":[["d1a92592.8e1e98","b2fd56e5.9fe328","e5ef594e.b52a58","ebe55e4f.c5287"]]},{"id":"d1a92592.8e1e98","type":"function","z":"c8f62a34.65f488","name":"Red","func":"data = msg.payload.red\n\nvar newMsg = { payload:\"#eb4034\" };\nif (data) {\n    newMsg.payload =  \"#eb4034\";\n} else {\n    newMsg.payload = \"#5e1510\";\n}\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":770,"y":360,"wires":[["d8318a24.e27188"]]},{"id":"b2fd56e5.9fe328","type":"function","z":"c8f62a34.65f488","name":"Yellow","func":"data = msg.payload.yellow\n\nvar newMsg = { payload:\"#edbe24\" };\nif (data) {\n    newMsg.payload =  \"#edbe24\";\n} else {\n    newMsg.payload = \"#7a610c\";\n}\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":770,"y":400,"wires":[["4f44e62f.fb2b68"]]},{"id":"e5ef594e.b52a58","type":"function","z":"c8f62a34.65f488","name":"Green","func":"data = msg.payload.green\n\nvar newMsg = { payload:\"#21c24e\" };\nif (data) {\n    newMsg.payload =  \"#21c24e\";\n} else {\n    newMsg.payload = \"#105e26\";\n}\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":770,"y":440,"wires":[["f05fa21b.dc78a"]]},{"id":"67b54eec.bf835","type":"function","z":"c8f62a34.65f488","name":"Corner2","func":"data = msg.payload.corner[1]\n\nnewMsg = { payload: data}\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":520,"wires":[["e63cfd99.ff7fb","53881272.ab24bc","7149640b.c25a6c","285b417.f6ff6be"]]},{"id":"e63cfd99.ff7fb","type":"function","z":"c8f62a34.65f488","name":"Red","func":"data = msg.payload.red\n\nvar newMsg = { payload:\"#eb4034\" };\nif (data) {\n    newMsg.payload =  \"#eb4034\";\n} else {\n    newMsg.payload = \"#5e1510\";\n}\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":770,"y":520,"wires":[["956a1bae.307d48"]]},{"id":"53881272.ab24bc","type":"function","z":"c8f62a34.65f488","name":"Yellow","func":"data = msg.payload.yellow\n\nvar newMsg = { payload:\"#edbe24\" };\nif (data) {\n    newMsg.payload =  \"#edbe24\";\n} else {\n    newMsg.payload = \"#7a610c\";\n}\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":770,"y":560,"wires":[["324abac3.4f70d6"]]},{"id":"7149640b.c25a6c","type":"function","z":"c8f62a34.65f488","name":"Green","func":"data = msg.payload.green\n\nvar newMsg = { payload:\"#21c24e\" };\nif (data) {\n    newMsg.payload =  \"#21c24e\";\n} else {\n    newMsg.payload = \"#105e26\";\n}\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":770,"y":600,"wires":[["3990773e.277b18"]]},{"id":"d8318a24.e27188","type":"ui_template","z":"c8f62a34.65f488","group":"68d565dd.8423bc","name":"Red","order":0,"width":0,"height":0,"format":"<style>\n.led {\npadding: 5px;\nmargin: 0 auto;\nwidth: 50px;\nheight: 50px;\nborder-radius: 50%;\nborder-style: solid;\nborder-width: 5px;\n{\n</style>\n<div class=\"led\" style=\"background-color:{{msg.payload}}\"></div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":930,"y":360,"wires":[[]]},{"id":"4f44e62f.fb2b68","type":"ui_template","z":"c8f62a34.65f488","group":"68d565dd.8423bc","name":"Yellow","order":0,"width":0,"height":0,"format":"<style>\n.led {\npadding: 5px;\nmargin: 0 auto;\nwidth: 50px;\nheight: 50px;\nborder-radius: 50%;\nborder-style: solid;\nborder-width: 5px;\n{\n</style>\n<div class=\"led\" style=\"background-color:{{msg.payload}}\"></div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":930,"y":400,"wires":[[]]},{"id":"f05fa21b.dc78a","type":"ui_template","z":"c8f62a34.65f488","group":"68d565dd.8423bc","name":"Green","order":0,"width":0,"height":0,"format":"<style>\n.led {\npadding: 5px;\nmargin: 0 auto;\nwidth: 50px;\nheight: 50px;\nborder-radius: 50%;\nborder-style: solid;\nborder-width: 5px;\n{\n</style>\n<div class=\"led\" style=\"background-color:{{msg.payload}}\"></div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":930,"y":440,"wires":[[]]},{"id":"956a1bae.307d48","type":"ui_template","z":"c8f62a34.65f488","group":"37f16217.14ba6e","name":"Red","order":0,"width":0,"height":0,"format":"<style>\n.led {\npadding: 5px;\nmargin: 0 auto;\nwidth: 50px;\nheight: 50px;\nborder-radius: 50%;\nborder-style: solid;\nborder-width: 5px;\n{\n</style>\n<div class=\"led\" style=\"background-color:{{msg.payload}}\"></div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":930,"y":520,"wires":[[]]},{"id":"324abac3.4f70d6","type":"ui_template","z":"c8f62a34.65f488","group":"37f16217.14ba6e","name":"Yellow","order":0,"width":0,"height":0,"format":"<style>\n.led {\npadding: 5px;\nmargin: 0 auto;\nwidth: 50px;\nheight: 50px;\nborder-radius: 50%;\nborder-style: solid;\nborder-width: 5px;\n{\n</style>\n<div class=\"led\" style=\"background-color:{{msg.payload}}\"></div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":930,"y":560,"wires":[[]]},{"id":"3990773e.277b18","type":"ui_template","z":"c8f62a34.65f488","group":"37f16217.14ba6e","name":"Green","order":0,"width":0,"height":0,"format":"<style>\n.led {\npadding: 5px;\nmargin: 0 auto;\nwidth: 50px;\nheight: 50px;\nborder-radius: 50%;\nborder-style: solid;\nborder-width: 5px;\n{\n</style>\n<div class=\"led\" style=\"background-color:{{msg.payload}}\"></div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":930,"y":600,"wires":[[]]},{"id":"9e047d87.70cc2","type":"function","z":"c8f62a34.65f488","name":"Corner3","func":"data = msg.payload.corner[2]\n\nnewMsg = { payload: data}\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":680,"wires":[["ec2419b8.8f68e8","8139b5e6.b29828","68c0be0c.51893","e6e9db2f.0920f8"]]},{"id":"ec2419b8.8f68e8","type":"function","z":"c8f62a34.65f488","name":"Red","func":"data = msg.payload.red\n\nvar newMsg = { payload:\"#eb4034\" };\nif (data) {\n    newMsg.payload =  \"#eb4034\";\n} else {\n    newMsg.payload = \"#5e1510\";\n}\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":770,"y":680,"wires":[["e88fa603.052268"]]},{"id":"8139b5e6.b29828","type":"function","z":"c8f62a34.65f488","name":"Yellow","func":"data = msg.payload.yellow\n\nvar newMsg = { payload:\"#edbe24\" };\nif (data) {\n    newMsg.payload =  \"#edbe24\";\n} else {\n    newMsg.payload = \"#7a610c\";\n}\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":770,"y":720,"wires":[["8843d410.90d428"]]},{"id":"68c0be0c.51893","type":"function","z":"c8f62a34.65f488","name":"Green","func":"data = msg.payload.green\n\nvar newMsg = { payload:\"#21c24e\" };\nif (data) {\n    newMsg.payload =  \"#21c24e\";\n} else {\n    newMsg.payload = \"#105e26\";\n}\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":770,"y":760,"wires":[["5494b869.5d5fb8"]]},{"id":"e88fa603.052268","type":"ui_template","z":"c8f62a34.65f488","group":"f67cffde.e66f9","name":"Red","order":0,"width":0,"height":0,"format":"<style>\n.led {\npadding: 5px;\nmargin: 0 auto;\nwidth: 50px;\nheight: 50px;\nborder-radius: 50%;\nborder-style: solid;\nborder-width: 5px;\n{\n</style>\n<div class=\"led\" style=\"background-color:{{msg.payload}}\"></div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":930,"y":680,"wires":[[]]},{"id":"8843d410.90d428","type":"ui_template","z":"c8f62a34.65f488","group":"f67cffde.e66f9","name":"Yellow","order":0,"width":0,"height":0,"format":"<style>\n.led {\npadding: 5px;\nmargin: 0 auto;\nwidth: 50px;\nheight: 50px;\nborder-radius: 50%;\nborder-style: solid;\nborder-width: 5px;\n{\n</style>\n<div class=\"led\" style=\"background-color:{{msg.payload}}\"></div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":930,"y":720,"wires":[[]]},{"id":"5494b869.5d5fb8","type":"ui_template","z":"c8f62a34.65f488","group":"f67cffde.e66f9","name":"Green","order":0,"width":0,"height":0,"format":"<style>\n.led {\npadding: 5px;\nmargin: 0 auto;\nwidth: 50px;\nheight: 50px;\nborder-radius: 50%;\nborder-style: solid;\nborder-width: 5px;\n{\n</style>\n<div class=\"led\" style=\"background-color:{{msg.payload}}\"></div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":930,"y":760,"wires":[[]]},{"id":"16752d8c.ab3d02","type":"function","z":"c8f62a34.65f488","name":"Corner4","func":"data = msg.payload.corner[3]\n\nnewMsg = { payload: data}\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":840,"wires":[["8a9278ac.d149c8","e4d8fef0.9af2","fb9d352b.b36b98","5f84b4d2.08c88c"]]},{"id":"8a9278ac.d149c8","type":"function","z":"c8f62a34.65f488","name":"Red","func":"data = msg.payload.red\n\nvar newMsg = { payload:\"#eb4034\" };\nif (data) {\n    newMsg.payload =  \"#eb4034\";\n} else {\n    newMsg.payload = \"#5e1510\";\n}\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":770,"y":840,"wires":[["6234d2fb.7ff89c"]]},{"id":"e4d8fef0.9af2","type":"function","z":"c8f62a34.65f488","name":"Yellow","func":"data = msg.payload.yellow\n\nvar newMsg = { payload:\"#edbe24\" };\nif (data) {\n    newMsg.payload =  \"#edbe24\";\n} else {\n    newMsg.payload = \"#7a610c\";\n}\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":770,"y":880,"wires":[["f157a4d2.0ac7e8"]]},{"id":"fb9d352b.b36b98","type":"function","z":"c8f62a34.65f488","name":"Green","func":"data = msg.payload.green\n\nvar newMsg = { payload:\"#21c24e\" };\nif (data) {\n    newMsg.payload =  \"#21c24e\";\n} else {\n    newMsg.payload = \"#105e26\";\n}\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":770,"y":920,"wires":[["6f78fbf8.c80fb4"]]},{"id":"6234d2fb.7ff89c","type":"ui_template","z":"c8f62a34.65f488","group":"a0ba1c0f.d8bc9","name":"Red","order":0,"width":0,"height":0,"format":"<style>\n.led {\npadding: 5px;\nmargin: 0 auto;\nwidth: 50px;\nheight: 50px;\nborder-radius: 50%;\nborder-style: solid;\nborder-width: 5px;\n{\n</style>\n<div class=\"led\" style=\"background-color:{{msg.payload}}\"></div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":930,"y":840,"wires":[[]]},{"id":"f157a4d2.0ac7e8","type":"ui_template","z":"c8f62a34.65f488","group":"a0ba1c0f.d8bc9","name":"Yellow","order":0,"width":0,"height":0,"format":"<style>\n.led {\npadding: 5px;\nmargin: 0 auto;\nwidth: 50px;\nheight: 50px;\nborder-radius: 50%;\nborder-style: solid;\nborder-width: 5px;\n{\n</style>\n<div class=\"led\" style=\"background-color:{{msg.payload}}\"></div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":930,"y":880,"wires":[[]]},{"id":"6f78fbf8.c80fb4","type":"ui_template","z":"c8f62a34.65f488","group":"a0ba1c0f.d8bc9","name":"Green","order":0,"width":0,"height":0,"format":"<style>\n.led {\npadding: 5px;\nmargin: 0 auto;\nwidth: 50px;\nheight: 50px;\nborder-radius: 50%;\nborder-style: solid;\nborder-width: 5px;\n{\n</style>\n<div class=\"led\" style=\"background-color:{{msg.payload}}\"></div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":930,"y":920,"wires":[[]]},{"id":"5f84b4d2.08c88c","type":"function","z":"c8f62a34.65f488","name":"Timer","func":"timer = msg.payload.timer\nif(msg.payload.red) {\n    color=\"red\"\n} else if(msg.payload.yellow) {\n    color=\"yellow\"\n} else if(msg.payload.green) {\n    color=\"green\"\n} \n\nvar newMsg = { payload: {\n    timer:timer,\n    color:color \n}\n};\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":770,"y":960,"wires":[["b826b449.e6fb38"]]},{"id":"b826b449.e6fb38","type":"ui_text","z":"c8f62a34.65f488","group":"a0ba1c0f.d8bc9","order":3,"width":"3","height":"3","name":"Timer","label":"","format":"<font size=\"12px\">{{msg.payload.timer}} </font>","layout":"col-center","x":930,"y":960,"wires":[]},{"id":"e6e9db2f.0920f8","type":"function","z":"c8f62a34.65f488","name":"Timer","func":"timer = msg.payload.timer\nif(msg.payload.red) {\n    color=\"red\"\n} else if(msg.payload.yellow) {\n    color=\"yellow\"\n} else if(msg.payload.green) {\n    color=\"green\"\n} \n\nvar newMsg = { payload: {\n    timer:timer,\n    color:color \n}\n};\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":770,"y":800,"wires":[["c02678ef.6163d8"]]},{"id":"c02678ef.6163d8","type":"ui_text","z":"c8f62a34.65f488","group":"f67cffde.e66f9","order":3,"width":"3","height":"3","name":"Timer","label":"","format":"<font size=\"24px\">{{msg.payload.timer}} </font>","layout":"col-center","x":930,"y":800,"wires":[]},{"id":"285b417.f6ff6be","type":"function","z":"c8f62a34.65f488","name":"Timer","func":"timer = msg.payload.timer\nif(msg.payload.red) {\n    color=\"red\"\n} else if(msg.payload.yellow) {\n    color=\"yellow\"\n} else if(msg.payload.green) {\n    color=\"green\"\n} \n\nvar newMsg = { payload: {\n    timer:timer,\n    color:color \n}\n};\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":770,"y":640,"wires":[["ceb80a9c.a321a8"]]},{"id":"ceb80a9c.a321a8","type":"ui_text","z":"c8f62a34.65f488","group":"37f16217.14ba6e","order":3,"width":"3","height":"3","name":"Timer","label":"","format":"<font size=\"24px\">{{msg.payload.timer}} </font>","layout":"col-center","x":930,"y":640,"wires":[]},{"id":"ebe55e4f.c5287","type":"function","z":"c8f62a34.65f488","name":"Timer","func":"timer = msg.payload.timer\nif(msg.payload.red) {\n    color=\"red\"\n} else if(msg.payload.yellow) {\n    color=\"yellow\"\n} else if(msg.payload.green) {\n    color=\"green\"\n} \n\nvar newMsg = { payload: {\n    timer:timer,\n    color:color \n}\n};\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":770,"y":480,"wires":[["a2c565f.d7f3d98"]]},{"id":"a2c565f.d7f3d98","type":"ui_text","z":"c8f62a34.65f488","group":"68d565dd.8423bc","order":3,"width":"3","height":"3","name":"Timer","label":"","format":"<font size=\"24px\">{{msg.payload.timer}} </font>","layout":"col-center","x":930,"y":480,"wires":[]},{"id":"4e9c64bf.033efc","type":"ui_button","z":"c8f62a34.65f488","name":"Dynamic Btn","group":"a446e4fa.b28688","order":0,"width":"3","height":"1","passthru":false,"label":"Dynamic","tooltip":"","color":"","bgcolor":"#004A90","icon":"switch_video","payload":"dynamic","payloadType":"str","topic":"topic","topicType":"msg","x":170,"y":300,"wires":[["2f94f5ab.98f53a"]]},{"id":"3c41d87c.b107d8","type":"ui_button","z":"c8f62a34.65f488","name":"Regular Btn","group":"a446e4fa.b28688","order":0,"width":"3","height":"1","passthru":false,"label":"Regular","tooltip":"","color":"","bgcolor":"#4A9000","icon":"timer","payload":"regular","payloadType":"str","topic":"topic","topicType":"msg","x":170,"y":340,"wires":[["2f94f5ab.98f53a"]]},{"id":"43e87f5d.59d2","type":"ui_button","z":"c8f62a34.65f488","name":"Hazard Btn","group":"a446e4fa.b28688","order":0,"width":"3","height":"1","passthru":false,"label":"Hazard","tooltip":"","color":"","bgcolor":"#DAB02A","icon":"change_history","payload":"hazard","payloadType":"str","topic":"topic","topicType":"msg","x":170,"y":380,"wires":[["2f94f5ab.98f53a"]]},{"id":"280811eb.e773be","type":"ui_template","z":"c8f62a34.65f488","group":"a446e4fa.b28688","name":"Dynamic","order":0,"width":"1","height":"1","format":"<style>\n.btn {\npadding: 2px;\nmargin: 0 auto;\nwidth: 30px;\nheight: 30px;\nborder-radius: 25%;\nborder-style: solid;\nborder-width: 2px;\n{\n</style>\n<div class=\"btn\" style=\"background-color:{{msg.payload}}\"></div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":940,"y":240,"wires":[[]]},{"id":"8ed4298e.b12dc8","type":"function","z":"c8f62a34.65f488","name":"Dynamic","func":"data = msg.payload\n\nif(data == \"dynamic\") {\n    newMsg = { payload: \"#006AD0\"}\n} else {\n    newMsg = { payload: \"#001120\"}\n}\n\n\n\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":240,"wires":[["280811eb.e773be"]]},{"id":"be88c22a.2824b","type":"function","z":"c8f62a34.65f488","name":"Regular","func":"data = msg.payload\n\nif(data == \"regular\") {\n    newMsg = { payload: \"#6AD000\"}\n} else {\n    newMsg = { payload: \"#112000\"}\n}\n\n\n\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":280,"wires":[["bcd0a3be.dac8d"]]},{"id":"e209c9f9.5946a8","type":"function","z":"c8f62a34.65f488","name":"Mode","func":"data = msg.payload.mode\n\nnewMsg = { payload: data}\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":240,"wires":[["8ed4298e.b12dc8","be88c22a.2824b","cf73600a.a2103"]]},{"id":"bcd0a3be.dac8d","type":"ui_template","z":"c8f62a34.65f488","group":"a446e4fa.b28688","name":"Regular","order":0,"width":"1","height":"1","format":"<style>\n.btn {\npadding: 2px;\nmargin: 0 auto;\nwidth: 30px;\nheight: 30px;\nborder-radius: 25%;\nborder-style: solid;\nborder-width: 2px;\n{\n</style>\n<div class=\"btn\" style=\"background-color:{{msg.payload}}\"></div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":940,"y":280,"wires":[[]]},{"id":"cf73600a.a2103","type":"function","z":"c8f62a34.65f488","name":"Hazard","func":"data = msg.payload\n\nif(data == \"hazard\") {\n    newMsg = { payload: \"#FAA05A\"}\n} else {\n    newMsg = { payload: \"#312011\"}\n}\n\n\n\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":320,"wires":[["e0278491.68a8c8"]]},{"id":"e0278491.68a8c8","type":"ui_template","z":"c8f62a34.65f488","group":"a446e4fa.b28688","name":"Hazard","order":0,"width":"1","height":"1","format":"<style>\n.btn {\npadding: 2px;\nmargin: 0 auto;\nwidth: 30px;\nheight: 30px;\nborder-radius: 25%;\nborder-style: solid;\nborder-width: 2px;\n{\n</style>\n<div class=\"btn\" style=\"background-color:{{msg.payload}}\"></div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":940,"y":320,"wires":[[]]},{"id":"2f94f5ab.98f53a","type":"mqtt out","z":"c8f62a34.65f488","name":"","topic":"dtc1/changemode","qos":"0","retain":"false","broker":"58653eae.5754","x":380,"y":340,"wires":[]}